.wrapper {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
}

.main {
  flex-grow: 1;
}

.cover {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 50px;
  background-image: url(./cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  inline-size: 100%;
  min-block-size: 300px;
}

.cover::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.cover__text {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 7px;
  text-transform: lowercase;
}

.info-field {
  margin: 0 5% 50px 5%;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 7px;
  line-height: 1.3em;
}

.info-field__title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;
}

.registration-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5% 100px 5%;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 3%;
}

.registration-field__title {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

@media(min-width: 576px) {
  .cover {
    min-block-size: 350px;
  }

  .cover__title {
    font-size: 50px;
  }

  .cover__text {
    font-size: 10px;
  }

  .info-field {
    font-size: 10px;
  }
  
  .info-field__title {
    font-size: 20px;
  }

  .registration-field__title {
    font-size: 18px;
  }
}

@media(min-width: 768px) {
  .cover {
    min-block-size: 400px;
  }

  .cover__title {
    font-size: 60px;
  }

  .cover__text {
    font-size: 12px;
  }

  .info-field {
    font-size: 12px;
  }
  
  .info-field__title {
    font-size: 22px;
  }

  .registration-field__title {
    font-size: 20px;
  }
}

@media(min-width: 992px) {
  .cover {
    min-block-size: 450px;
  }

  .cover__title {
    font-size: 70px;
  }

  .cover__text {
    font-size: 15px;
  }

  .info-field {
    font-size: 13px;
  }
  
  .info-field__title {
    font-size: 26px;
  }

  .registration-field__title {
    font-size: 22px;
  }
}

@media(min-width: 1200px) {
  .cover {
    min-block-size: 500px;
  }

  .cover__title {
    font-size: 75px;
  }

  .cover__text {
    font-size: 18px;
  }

  .info-field {
    font-size: 16px;
  }
  
  .info-field__title {
    font-size: 30px;
  }

  .registration-field__title {
    font-size: 26px;
  }
}