.cell {
  inline-size: 40px;
  block-size: 40px;
  border: 1px solid #fff;
  cursor: pointer;
}

.cell_grey {
  background-color: #9c9b9b;
}

.cell_red {
  background-color: rgb(238, 90, 90);
}

.cell_green {
  background-color: rgb(29, 180, 29);
}