.wrapper {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
}

.main {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  border-block-start: 1px solid #fff;
  inline-size: 100%;
}

.board {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  margin-block-start: 20px;
}

.name {
  font-size: 20px;
}

.score {
  font-size: 20px;
}