.wrapper {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 10px;
  inline-size: 100%;
}

.game-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 10px;
}

.boards {
  display: flex;
  justify-content: space-between;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-block-start: 20px;
}

@media(min-width: 576px) {
  .main {
    font-size: 12px;
  }
}

@media(min-width: 768px) {
  .main {
    font-size: 14px;
  }
}

@media(min-width: 992px) {
  .main {
    font-size: 16px;
  }
}

@media(min-width: 1200px) {
  .main {
    font-size: 20px;
  }
}

